In [4]:
import keyword as ks

In [13]:
len(ks.kwlist)

35

In [14]:
ks.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [16]:
def fun():
    return 'musaddiq'
print(fun())

musaddiq

In [35]:
def temp(p1,v1,p2=123):
    if p1==0 or v1==0 or p2==0:
        return 'Zero division erro'
    else:
        return (p1*v1)/p2

In [26]:
p1 = float(input("Enter P1"))
v1 = float(input("Enter v1"))
p2 = float(input("Enter P2"))
print(temp(p1,v1,p2))

Enter P1100
Enter v11
Enter P2123
0.8130081300813008

In [ ]:
#Event time
#Ingestion time
#Process time

In [46]:
from datetime import datetime
tod = datetime.now()
print(tod)

2023-09-19 04:35:31.187689

In [47]:
import time
tn = time.time()
print(tn)

1695098219.438927

In [52]:
import datetime
timestamp1_str = input("Enter timestamp1 (YYYY-MM-DD HH:MM:SS): ")
timestamp1 = datetime.datetime.strptime(timestamp1_str, "%Y-%m-%d %H:%M:%S")
timestamp2 =  datetime.datetime.now()
print("Elapsed time is: ",(timestamp2 -timestamp1).total_seconds(),"seconds")

Enter timestamp1 (YYYY-MM-DD HH:MM:SS): 2023-09-19 04:35:31
Elapsed time is:  832.117483

In [54]:
import datetime
timestamp1_str = input("Enter timestamp1 (YYYY-MM-DD HH:MM:SS): ")
timestamp1 = datetime.datetime.strptime(timestamp1_str, "%Y-%m-%d %H:%M:%S")
timestamp2 =  datetime.datetime.now()
print(timestamp1)
print(timestamp2)
print("Elapsed time is: ",(timestamp2 -timestamp1).total_seconds(),"seconds")

Enter timestamp1 (YYYY-MM-DD HH:MM:SS): 2021-05-20 07:03:10
2021-05-20 07:03:10
2023-09-19 04:51:35.173043
Elapsed time is:  73604905.173043 seconds

In [57]:
def fun(a,b,c=4):
    return a+b+c
fun(4,3)

11

In [58]:
def fun(c,b,a=4):
    return a+b+c
fun(4,3)

11

In [68]:
def fun(*nums):
    res = []
    for i in nums:
        res.append(i+1)
    return res
print(fun(1,2,3))

[2, 3, 4]

In [71]:
def fact(n):
    if n==1 or n==0:
        return 1
    return n*fact(n-1)
print(fact(4))

24

In [88]:
def remaining_reserves(year,oil_well):
    
    if year==0:
        rem_res=oil_well["initial_reserves"]
        print(f"{year} year reserve is: {oil_well['initial_reserves']}")
        return rem_res
    rem1_res = remaining_reserves(year - 1, oil_well) - oil_well["decline_rate"]
    print(f"{year} year reserve is: {rem1_res}")
    return rem1_res
        
        
year = 8
oil_well = {
    "name": "Well A",
    "initial_reserves": 1000,  # Initial oil reserves in barrels
    "decline_rate": 0.1,       # Annual decline rate
}
print(remaining_reserves(year,oil_well))

0 year reserve is: 1000
1 year reserve is: 999.9
2 year reserve is: 999.8
3 year reserve is: 999.6999999999999
4 year reserve is: 999.5999999999999
5 year reserve is: 999.4999999999999
6 year reserve is: 999.3999999999999
7 year reserve is: 999.2999999999998
8 year reserve is: 999.1999999999998
999.1999999999998

In [2]:
def countdown(num):
    while num>0:
        yield num
        num-=1
val=countdown(7)
for i in val:
    print(i)

7
6
5
4
3
2
1

In [3]:
class Route:
    def __init__(self, route_id, route_name, capacity, cost_per_km):
        self.route_id = route_id
        self.route_name = route_name
        self.capacity = capacity
        self.cost_per_km = cost_per_km
        self.capacity_available = capacity

class Shipment:
    def __init__(self, shipment_id, product_type, quantity, distance_km):
        self.shipment_id = shipment_id
        self.product_type = product_type
        self.quantity = quantity
        self.distance_km = distance_km
        self.cost = 0  # Placeholder for calculated cost

class DistributionCenter:
    def __init__(self, center_id, center_name, location):
        self.center_id = center_id
        self.center_name = center_name
        self.location = location

class LogisticsManager:
    def __init__(self, routes, shipments, distribution_centers):
        self.routes = [Route(**r) for r in routes]
        self.shipments = [Shipment(**s) for s in shipments]
        self.distribution_centers = [DistributionCenter(**dc) for dc in distribution_centers]

In [8]:
#Assignment 1
val = lambda k,l: k+l
print(val(3,4))

7

In [15]:
str = '''Hi my name is Musaddiq Shariff I work as Data Engineer at shell
India Markets'''
count=0
for i in str.split(' '):
    count+=1
    print(i)
    print(count)
print(count)

Hi
1
my
2
name
3
is
4
Musaddiq
5
Shariff
6
I
7
work
8
as
9
Data
10
Engineer
11
at
12
shell
India
13
Markets
14
14